[submodule "internal/acceptance/workflows/hello-tile"]
	path = internal/acceptance/workflows/hello-tile
	url = git@github.com:crhntr/hello-tile
[submodule "internal/commands/testdata/test_tile/hello-tile"]
	path = internal/commands/testdata/test_tile/hello-tile
	url = git@github.com:crhntr/hello-tile.git
