[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2.git
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://github.com/golang/text.git
[submodule "vendor/github.com/coreos/go-semver"]
	path = vendor/github.com/coreos/go-semver
	url = https://github.com/coreos/go-semver
[submodule "vendor/github.com/pivotal-cf/jhanda"]
	path = vendor/github.com/pivotal-cf/jhanda
	url = https://github.com/pivotal-cf/jhanda
