*.pivotal
*.sha256
.idea
*debug.test
dist
*.test
**.DS_Store
*.out

internal/release/exp.txt
internal/release/got.txt

node_modules

env.yml
*.key
*.pem
.vscode

vendor

internal/acceptance/bake/fixtures/bake_records/*.json