name: create debugging artifact

on:
  workflow_dispatch:
    inputs:
      description:
        description: |
          run unit + acceptance test and then upload an artifact for debugging purposes
        required: false
        default: true
        type: boolean
        
permissions:
  contents: write

jobs:
  create_artifact:
    name: "upload kiln artifact"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'recursive'
          token: ${{ secrets.RELEEN_GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Build
        run: |
          go build ./...
          ls -alth
          
      - name: Unit Test
        env:
          RELEEN_GITHUB_TOKEN: ${{ secrets.RELEEN_GITHUB_TOKEN }}
        run: |
          export GITHUB_ACCESS_TOKEN="${RELEEN_GITHUB_TOKEN}"
          go test ./...

      - name: Acceptance Tests
        env:
          CGO_ENABLED: '0'
          RELEEN_GITHUB_TOKEN: ${{ secrets.RELEEN_GITHUB_TOKEN }}
        run: |
          set -euo pipefail
          export GITHUB_ACCESS_TOKEN="${RELEEN_GITHUB_TOKEN}"
              
          set -x
          go test --run '(using_kiln|baking_a_tile|generating_release_notes|updating_)' \
            -v --timeout 24h --tags acceptance \
            github.com/pivotal-cf/kiln/internal/acceptance/workflows
          
          git reset --hard HEAD
          
      - uses: actions/upload-artifact@v4
        with:
          path: ./kiln
