name: test

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    name: "Test Kiln"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEEN_GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9

      - name: Ensure Generate Succeeds and Does Not Make Changes
        run: |
          go generate ./...
          git status --porcelain # When this fails, things have changed.

      - name: Build
        run: |
          go build -v ./...

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.RELENG_CI_BOT_KEY }}

      - name: Unit Tests
        run: |
          go test --covermode=atomic --coverprofile=kiln-${{ github.sha }}-unit-test-code-coverage.out -skip 'TestDockerIntegration|TestAcceptance' ./...

      - name: Archive Unit Test Code Coverage Output
        uses: actions/upload-artifact@v6
        with:
          name: Unit Test Code Coverage Output
          path: kiln-${{github.sha}}-unit-test-code-coverage.out

      - name: Acceptance Tests
        env:
          CGO_ENABLED: '0'
          GITHUB_ACCESS_TOKEN: ${{ secrets.RELEEN_GITHUB_TOKEN }}
        run: |
          set -euo pipefail

          go test -v --timeout 15m --tags acceptance github.com/pivotal-cf/kiln/internal/acceptance/workflows
